*
{
		font-family: 'Inconsolata', ;
}
html
{
	background: #272822;
	color: white;
}
h2 
{
	color: #F92772;
	font-size: 2rem;

}
h3 
{
	color: #F92772;
	font-size: 1.5rem;
}
button
{
	background: #AE81FF;
	border: none;
	border-radius: 5px;
	box-shadow: 0px 4px #754cc3;
	height: 2.5rem;

}
button:hover
{
	background: #A6E22D;
	box-shadow: 0px 4px #85b81e;

}

.Menu
{
	background: #272822;
	font-size: 1.1rem;
	height: 2rem;
	margin: 0;
	padding: 1rem 0 0 0;
	position: fixed;
	text-align: center;
	top: 0;
	width: 100%;
	vertical-align: bottom;

}

	.Menu-list
	{
	margin: 0;
	padding: 0;
	}

		.Menu-element
		{
			display: inline-block;
			margin: 0 0.2rem;
			padding: 0;
		}

		.Menu-element a 
		{
				color: #A6E22D;
				text-decoration: none;
		}
		.Menu-element a:hover
		{
			color: #AE81FF;
		}

@media screen and (min-width: 768px){
	.Menu
	{
		font-size: 1.5rem;
	}
	.Menu-element
	{
		margin: 0 1rem;
	}

}

.CTA
{
/*	background: #E6DB74;
*/	background-image: url('../images/desk.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100%;
	margin: 3rem 0 0 0;
	padding: 0;
	width: 100%;
}
	.CTA-image
	{
		margin: 1rem 35% 0 35%;
		padding: 0;
		width: 30%;
		border-radius: 50%;
	}
	.CTA-title
	{
		color: white;
		font-size: 1.8rem;
		margin: 0;
		padding: 0.5rem 0 2.5rem 0;
		text-align: center;
		text-shadow: 1px 1px 2px black;
		vertical-align: middle;
	}
@media screen and (min-width: 768px){

		.CTA-title
		{
			font-size: 3rem;
		}
}
@media screen and (min-width: 1024px){
	.CTA
	{
		height: 100%;
	}
		.CTA-image
		{
			width: 20%;
			margin: 1rem 40% 0 40%;

		}

}
.Description
{
	width: 100%;
}
	.Description-item
	{
		margin: 0 1rem;
	}
		.Description-title
		{

		}
		.Description-text
		{
		text-align: justify;
		}
@media screen and (min-width: 768px){

	.Description
	{
		margin: 0 auto;
	}
	.Description-item
	{
		display: inline-block;
		vertical-align: top;
		width: 45%;

	}
}
.Work
{
	width: 100%;
	margin: 1rem auto;
	padding: 0;
}
	.Work-sTitle
	{
		margin: 2rem 1rem 0 1rem;
		padding: 0;
	}
		.Work-element
		{
			margin: 0 1rem;
			padding: 0;
		}
			.Work-title
			{
				color: #AE81FF;
				margin: 1rem 0;
				padding: 0;
			}
			.Work-description
			{
				margin: 0;
				padding: 0;
			}
			.Work-list
			{
				margin: 1rem;
				padding: 0;
			}
			.Work-listItem
			{

			}
			.Work-image
			{
				margin: 0;
				padding: 0;

			}

			.Work-image img
			{
				width: 100%;
				margin: 0;
				padding: 0;
			}
@media screen and (min-width: 768px){
	.Work
	{
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		display: -webkit-flex;
		-webkit-justify-content: space-between;
		-webkit-flex-flow: row wrap; 
		margin: 0 auto;
		padding: 0;
	}
	.Work-element
	{
		width: 45%;
	}
	.Work-description
	{

	}
	.Work-list
	{

	}
	.Work-image
	{
		width: 100%;
	}
}
@media screen and (min-width: 1024px){
	.Work-element
	{
		width: 30%;
	}
}

.Skills
{
	width: 100%;
	margin: 0 auto;
	padding: 0;
}

	.Skills-sTitle
	{
		margin: 2rem 1rem 0 1rem;
		padding: 0;
	}
		.Skills-element
		{
			margin: 0 1rem;
			padding: 0;
		}
		.Skills-title
		{
			color: #AE81FF;

		}

.Hobbies
{
	width: 100%;
	margin: 0 auto;
	padding: 0;
}
	.Hobbies-sTitle
	{
		margin: 2rem 1rem 0 1rem;
		padding: 0;
	}
		.Hobbies-element
		{
			margin: 0 1rem;
			padding: 0;
		}
		.Hobbies-title
		{
			color: #AE81FF;	
		}
.Footer
{
	text-align: center;
	margin: 1rem 0;
	padding: 0;
}
	.Footer-item
	{
		border-bottom: 2px dashed #E6DB74;
		display: inline-block; 
		margin: 0rem 1rem;
		text-align: center;
		vertical-align: top;
	}
		.Footer-title
		{
			font-size: 1.3rem;
		}
		.Footer-description
		{

		}
		.Footer-description a
		{
			color: #A6E22D;
		}

		.SN
		{
			padding-bottom: 1.2rem;
		}
@media screen and (min-width: 768px){
	.Footer-item
	{
		margin: 0 2rem;
	}
}
	.Submenu
	{
		text-align: center;
		margin: 1rem 0;
		padding: 0;
		width: 100%;
	}
		.Submenu ul
		{
			margin: 0;
			padding: 0;
		}