html
{
	background: #272822;
	color: white;
}
h2 
{
	color: #F92772;
}

button
{
	background: #AE81FF;
	border: none;
	border-radius: 5px;
	box-shadow: 0px 4px #754cc3;
	height: 2rem;

}
button:hover
{
	background: #A6E22D;
	box-shadow: 0px 4px #85b81e;

}

.Menu
{
	background: #272822;
	font-size: 1.2rem;
	height: 2rem;
	margin: 0;
	padding: 1rem 0 0 0;
	position: fixed;
	text-align: center;
	top: 0;
	width: 100%;
	vertical-align: bottom;

}

	.Menu-list
	{
	margin: 0;
	padding: 0;
	}

		.Menu-element
		{
			display: inline-block;
			margin: 0 0.5rem;
			padding: 0;
		}

		.Menu-element a 
		{
				color: #A6E22D;
				text-decoration: none;
		}
		.Menu-element a:hover
		{
			color: #AE81FF;
		}

.CTA
{
/*	background: #E6DB74;
*/	background-image: url('/images/desk.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100%;
	margin: 3rem 0 0 0;
	padding: 0;
	width: 100%;
}
	.CTA-image
	{
		margin: 1rem 35% 0 35%;
		padding: 0;
		width: 30%;
		border-radius: 50%;
	}
	.CTA-title
	{
		color: white;
		margin: 0 0 0 0;
		padding: 0.5rem 0 2.5rem 0;
		text-align: center;
		text-shadow: 1px 1px 2px black;
		vertical-align: middle;
	}

.Description
{
	width: 100%;
}
	.Description-item
	{
		margin: 0 2rem;
	}
		.Description-title
		{

		}
		.Description-text
		{
		text-align: justify;
		}

.Footer
{
	text-align: center;
	border-bottom: 2px dashed #E6DB74;
	border-top: 2px dashed #E6DB74;
	margin: 0;
	padding: 0;
}
	.Footer-item
	{
		display: inline-block; 
		margin: 0rem 1rem;
		text-align: center;
		vertical-align: top;
	}
		.Footer-title
		{
			font-size: 1.3rem;
		}
		.Footer-description
		{

		}
	.Submenu
	{
		text-align: center;
		margin: 0 auto;
		padding: 0;
	}